<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">    
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page" [routerLink]="['chartjs/chart']">Chart
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark" [routerLink]="['flot/floating-chart']">Flot</a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark" [routerLink]="['inline/inline-chart']">Inline</a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark" [routerLink]="['uplot/plot-chart']">uPlot</a>
        </li>
    </ul>
</div>